@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url("../img/taj.jpeg");
    background-size: cover;
    height: 100vh;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 0rem;
    height: 15vh;
}
header .logo {
    font-size: 2rem;
    margin: 0rem 1.5rem;
}
ul {
    display: flex;
    justify-content: space-evenly;
}
ul li {
    margin-right: 1rem;
}
ul li a {
    font-size: 1.3rem;
    padding: 5px 10px;
}
ul li a.active,
ul li a:hover {
    background-color: grey;
    transition: 0.5s ease-in-out;
    border: 4px;
}
.hamburger {
    position: absolute;
    right: 1.5rem;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
    height: 30px;
}
.hamburger .bar {
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s all;
}
@media (max-width: 768px) {
    body {
        overflow: hidden;
        background-position: center;
    }
    .hamburger {
        display: flex;
        cursor: pointer;
    }
    ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 15vh;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.8);
        height: 85vh;
        width: 100%;
        transition: right 0.5s ease-in-out;
    }
    ul li {
        margin-right: 0px;
    }
    .menuSlide {
        right: 0;
        transition: right 0.5s ease-in-out;
    }
    .cross .bar:nth-child(2){
        opacity: 0;
    }
    .cross .bar:first-child {
        transform: rotate(-45deg) translate(-2px, 16px);
    }
    .cross .bar:last-child {
        transform: rotate(45deg) translate(-2px, -16px);
    }
}